.playlist-generator-container{
    padding: 50px;
    border-radius: 20px;
    margin: 20px auto; 
    background-color: #fff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

/* CHANGE COLOR OF THE SLIDER RANGE FROM BLUE TO PINK */
.form-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    transition: opacity .15s ease-in-out;
}

.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ff008c;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #ff008c; 
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-range::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #ff008c; 
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-range::-webkit-slider-thumb:hover {
    background-color: #8c004d; 
}

.form-range::-moz-range-thumb:hover {
    background-color: #8c004d; 
}

.form-range::-ms-thumb:hover {
    background-color: #8c004d;
}
